Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

ruff-format:
  run: ./scripts/lint.sh format {staged_files}
  stage_fixed: true

ruff-check:
  run: ./scripts/lint.sh check {staged_files}
  stage_fixed: true

yamllint:
  run: ./scripts/lint.sh yaml {staged_files}

test(ssrf): add comprehensive async DNS validation tests
  tests/unit/test_ssrf_async_dns.py
Due: ruff-format, ruff-check

feat(http-pooling): add shared HTTP client pool with feature flag rollback
  src/litellm_llmrouter/http_client_pool.py
Due: ruff-format, ruff-check

feat(http-pooling): integrate pool lifecycle into app startup/shutdown
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/startup.py
Due: ruff-format, ruff-check

refactor(http-pooling): replace per-request clients with pooled client
  src/litellm_llmrouter/a2a_gateway.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/mcp_parity.py
Due: ruff-format, ruff-check

test(http-pooling): add 20 tests for pool lifecycle and regression prevention
  tests/unit/test_http_client_pool.py
Due: ruff-format, ruff-check

feat(mcp): add native SSE transport implementation
  src/litellm_llmrouter/mcp_sse_transport.py
Due: ruff-format, ruff-check

feat(tests): add streaming performance harness for TG10.5
  tests/perf/__init__.py
  tests/perf/streaming_perf_harness.py
Due: ruff-format, ruff-check

docs: add streaming verification guide for TG10.5
  docs/streaming-verification.md
Due: none

fix(tests): skip SSE streaming tests that hang in TestClient
  tests/unit/test_mcp_sse_transport.py
Due: ruff-format, ruff-check

fix(lint): remove unused imports from mcp_jsonrpc and resilience
  src/litellm_llmrouter/mcp_jsonrpc.py
  src/litellm_llmrouter/resilience.py
Due: ruff-format, ruff-check

security: make SSRF DNS validation async and cached
  src/litellm_llmrouter/a2a_gateway.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/mcp_parity.py
  src/litellm_llmrouter/routes.py
  src/litellm_llmrouter/url_security.py
  tests/test_ssrf_hardening.py
Due: ruff-format, ruff-check

perf: pool outbound http clients
  src/litellm_llmrouter/http_client_pool.py
  tests/unit/test_http_client_pool.py
Due: ruff-format, ruff-check

mcp: add legacy SSE transport and validator
  scripts/validate_mcp_sse.py
  src/litellm_llmrouter/mcp_sse_transport.py
  src/litellm_llmrouter/routes.py
  tests/unit/test_mcp_sse_transport.py
Due: ruff-format, ruff-check

streaming: add compose perf gate for TTFB and chunk cadence
  config/config.streaming-perf.yaml
  docker-compose.streaming-perf.yml
  scripts/streaming_stub_server.py
  tests/conftest.py
  tests/integration/test_streaming_perf_gate.py
Due: ruff-format, ruff-check, yamllint

chore: remove secret-like placeholders to satisfy scanners
  .github/workflows/docker-build.yml
  config/config.streaming-perf.yaml
  docker-compose.local-test.yml
  docker-compose.streaming-perf.yml
  scripts/comprehensive_test.py
  scripts/detect_secrets.py
  scripts/e2e_api_validation.py
  scripts/e2e_test.py
  scripts/test_gateway.py
  scripts/test_security_multi_tenancy.py
  scripts/train_from_traces.py
  scripts/validate_mcp_gateway.py
  scripts/validate_mcp_jsonrpc.py
  scripts/validate_mcp_sse.py
  tests/integration/test_e2e_api_validation.py
  tests/integration/test_local_stack.py
  tests/integration/test_mcp_local_stack.py
  tests/integration/test_streaming_perf_gate.py
  tests/test_http_routes.py
Due: ruff-format, ruff-check, yamllint

docs: update AGENTS rr push workflow
  AGENTS.md
Due: none

docs: add resume checkpoint for TG backlog and rr workflow
  plans/backlog.md
  plans/resume-checkpoint.md
Due: none

resilience: add circuit breakers and degraded mode
  src/litellm_llmrouter/resilience.py
  src/litellm_llmrouter/routes.py
  tests/conftest.py
  tests/integration/test_resilience.py
  tests/unit/test_circuit_breakers.py
Due: ruff-format, ruff-check

feat: complete TG3.2 RBAC
  src/litellm_llmrouter/rbac.py
  src/litellm_llmrouter/routes.py
  tests/conftest.py
  tests/integration/test_rbac_enforcement.py
  tests/unit/test_rbac.py
Due: ruff-format, ruff-check

feat: complete TG4.1 router decision telemetry
  src/litellm_llmrouter/observability.py
  src/litellm_llmrouter/strategies.py
  src/litellm_llmrouter/strategy_registry.py
  tests/unit/test_tg4_1_router_decision_telemetry.py
Due: ruff-format, ruff-check

feat: complete TG4.2 otel e2e validation
  config/config.otel-test.yaml
  docker-compose.otel.yml
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/startup.py
  tests/conftest.py
  tests/integration/_otel_compose_helpers.py
  tests/integration/test_otel_e2e.py
Due: ruff-format, ruff-check, yamllint

feat: complete TG5.1 security abuse-case tests
  tests/test_security_abuse.py
Due: ruff-format, ruff-check

feat: complete TG6.1 load and soak gates
  .github/workflows/load-gate.yml
  docs/load-soak-gates.md
  scripts/run_load_gate.py
Due: ruff-format, ruff-check

feat: rewrite docs, fix leader election bug, enhance plugin system
  CONTRIBUTING.md
  README.md
  src/litellm_llmrouter/gateway/plugin_manager.py
  tests/unit/test_leader_election.py
Due: ruff-format, ruff-check

feat: cloud-native hardening, plugin reliability, docs accuracy
  deploy/charts/routeiq-gateway/templates/externalsecret.yaml
  docker-compose.ha-test.yml
  docker-compose.ha.yml
  docker-compose.otel.yml
  docker/Dockerfile.local
  docs/a2a-gateway.md
  docs/api-reference.md
  docs/configuration.md
  src/litellm_llmrouter/gateway/plugin_manager.py
  src/litellm_llmrouter/gateway/plugins/evaluator.py
  src/litellm_llmrouter/startup.py
Due: ruff-format, ruff-check, yamllint

fix: local test stack Bedrock integration and callback hooks
  config/config.local-test.yaml
  docker-compose.local-test.yml
  docker/entrypoint.local.sh
  src/litellm_llmrouter/router_decision_callback.py
Due: ruff-format, ruff-check, yamllint

fix: remove unused imports and variables flagged by ruff
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/leader_election.py
  src/litellm_llmrouter/mcp_parity.py
  src/litellm_llmrouter/policy_engine.py
  src/litellm_llmrouter/quota.py
  src/litellm_llmrouter/rbac.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes.py
Due: ruff-format, ruff-check

fix: add compose health-check tokens to detect-secrets allowlist
  scripts/detect_secrets.py
Due: ruff-format, ruff-check

fix: add streaming-perf compose token to detect-secrets allowlist
  scripts/detect_secrets.py
Due: ruff-format, ruff-check

docs: add comprehensive AWS production deployment guide
  docs/aws-production-guide.md
Due: none

fix: use prisma db push for schema sync and add Redis TLS to health check
  docker/entrypoint.sh
  pyproject.toml
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/routes/health.py
Due: ruff-format, ruff-check

feat: add centralized Redis pool, leader-gated migrations, and sk-riq-* key prefix (v0.0.5)
  .env.example
  pyproject.toml
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/auth.py
  src/litellm_llmrouter/conversation_affinity.py
  src/litellm_llmrouter/gateway/plugins/cache_plugin.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/migrations.py
  src/litellm_llmrouter/quota.py
  src/litellm_llmrouter/redis_pool.py
  src/litellm_llmrouter/routes/health.py
  src/litellm_llmrouter/startup.py
  tests/unit/conftest.py
  tests/unit/test_auth.py
  tests/unit/test_migrations.py
  tests/unit/test_redis_pool.py
  tests/unit/test_startup.py
  uv.lock
Due: ruff-format, ruff-check

chore: add push-tags task to rr config
  .rr.yaml
Due: yamllint

ci: add automated release workflow on tag push
  .github/workflows/release.yml
Due: none

docs: add RouteIQ v0.1.0 design document
  docs/plans/2026-02-13-routeiq-v0.1.0-design.md
Due: none

docs: add RouteIQ v0.1.0 implementation plan
  docs/plans/2026-02-13-routeiq-v0.1.0-implementation.md
Due: none

feat(#6): add config diff engine for incremental reload
  src/litellm_llmrouter/config_sync.py
  tests/unit/test_config_diff.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: *.py, but not: ^reference/
  ruff-check: any of: *.py, but not: ^reference/
  yamllint: any of: *.{yaml,yml}, but not: (^reference/|^.github/)
