Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

ruff-format:
  run: ./scripts/lint.sh format {staged_files}
  stage_fixed: true

ruff-check:
  run: ./scripts/lint.sh check {staged_files}
  stage_fixed: true

yamllint:
  run: ./scripts/lint.sh yaml {staged_files}

seeds: sync 2026-06-15
  .seeds/issues.jsonl
Due: none

feat: container optimizations — torch-CPU pin + torch-free prod + Wolfi runtime
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

fix(safety): unbypassable gov-ban chokepoint + always-on Fable 5 ban
  src/litellm_llmrouter/candidate_filter.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/strategies.py
  tests/unit/test_candidate_filter.py
  tests/unit/test_govban_chokepoint.py
Due: ruff-format, ruff-check

fix(bandit): moment-fit defects — exact-(α,β) cache + 1-D variance root-find
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/settings.py
  tests/property/test_kumaraswamy_thompson_properties.py
  tests/unit/test_kumaraswamy_thompson.py
Due: ruff-format, ruff-check

fix(otel): honor OTEL_EXPORTER_OTLP_ENDPOINT — heal the Settings split-brain
  src/litellm_llmrouter/settings.py
  tests/property/test_observability_properties.py
Due: ruff-format, ruff-check

fix(iam): fail loud on unresolved region + single-source IAM token TTL
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/redis_pool.py
  tests/unit/test_database.py
  tests/unit/test_redis_pool.py
Due: ruff-format, ruff-check

docs+test(bandit): truthful backend docstring + draw-based argmax test
  src/litellm_llmrouter/kumaraswamy_thompson.py
  tests/unit/test_kumaraswamy_thompson.py
Due: ruff-format, ruff-check

test(leader): make leader_election tests hermetic (patch get_db_pool)
  tests/unit/test_leader_election.py
Due: ruff-format, ruff-check

build(dev): add boto3 to the dev extra (litellm 1.89.0 eager import)
  pyproject.toml
  uv.lock
Due: none

docs(adr): fix 3 P2 doc/citation accuracy gaps (emitter, validator, strategy math)
  deploy/cdk/lib/config_state_construct.py
  deploy/cdk/tests/snapshot/__snapshots__/observability-dev.json
  docs/adr/0026-appconfig-gitops-config-delivery.md
  docs/adr/0027-otel-amp-amg-observability-on-aws.md
Due: ruff-format, ruff-check

seeds: sync 2026-06-15
  .seeds/issues.jsonl
  docs/operations/eks-auto-mode-ingress.md
  tests/unit/test_adapter_loader_wiring.py
  tests/unit/test_config_sync.py
  tests/unit/test_lake_columns_contract.py
  tests/unit/test_metrics_catalog.py
  tests/unit/test_schema_bootstrap_lambda.py
Due: ruff-format, ruff-check

feat(metrics): canonical metric catalog + contract test (reconcile name split-brain)
  deploy/charts/routeiq-gateway/templates/grafana-dashboard.yaml
  src/litellm_llmrouter/telemetry_contracts.py
Due: ruff-format, ruff-check, yamllint

fix: Wave-7 cred-free batch — ADR drift, settings honesty, adapter wiring, AppConfig poll, chart, CDK hardening
  CHANGELOG.md
  deploy/cdk/lambda/routeiq-schema-bootstrap/handler.py
  deploy/cdk/lib/routeiq_state_stack.py
  deploy/charts/routeiq-gateway/templates/NOTES.txt
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/tests/test_render.py
  deploy/charts/routeiq-gateway/values.yaml
  docs/adr/0026-appconfig-gitops-config-delivery.md
  docs/adr/0027-otel-amp-amg-observability-on-aws.md
  docs/adr/0028-aurora-postgres-serverless-v2-state.md
  docs/adr/0029-elasticache-serverless-valkey-cache.md
  docs/adr/0030-eks-auto-mode-irsa-substrate.md
  docs/operations/security.md
  src/litellm_llmrouter/config_sync.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/settings.py
  tests/property/test_kumaraswamy_thompson_properties.py
  tests/unit/test_settings.py
Due: ruff-format, ruff-check, yamllint

fix(p6): boto3 region chain + Fable-5 boundary match + moment-fit cleanup + 9f9f callback
  src/litellm_llmrouter/candidate_filter.py
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/redis_pool.py
  src/litellm_llmrouter/router_decision_callback.py
  tests/unit/test_candidate_filter.py
  tests/unit/test_database.py
  tests/unit/test_redis_pool.py
  tests/unit/test_router_decision_callback.py
Due: ruff-format, ruff-check

feat(metrics): Prometheus /metrics scrape endpoint (metrics-3, partial)
  deploy/charts/routeiq-gateway/templates/servicemonitor.yaml
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/routes/__init__.py
  src/litellm_llmrouter/routes/metrics_endpoint.py
  tests/unit/test_metrics_endpoint.py
Due: ruff-format, ruff-check, yamllint

seeds: sync 2026-06-16
  .seeds/issues.jsonl
Due: none

fix(tests): parenthesize integration multi-exception syntax + cover leader auto-demotion
  tests/integration/_otel_compose_helpers.py
  tests/integration/test_ha_leader_failover.py
  tests/integration/test_streaming_perf_gate.py
  tests/unit/test_leader_election.py
Due: ruff-format, ruff-check

feat(metrics): instrument the dark subsystems (metrics-2) — 8 new metrics across routing/policy/cache/MCP/A2A/eval
  src/litellm_llmrouter/a2a_gateway.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/gateway/plugins/bedrock_guardrails.py
  src/litellm_llmrouter/gateway/plugins/content_filter.py
  src/litellm_llmrouter/gateway/plugins/context_optimizer.py
  src/litellm_llmrouter/gateway/plugins/guardrails_base.py
  src/litellm_llmrouter/gateway/plugins/llamaguard_plugin.py
  src/litellm_llmrouter/governance.py
  src/litellm_llmrouter/guardrail_policies.py
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/metrics.py
  src/litellm_llmrouter/personalized_routing.py
  src/litellm_llmrouter/resilience.py
  src/litellm_llmrouter/semantic_cache.py
  src/litellm_llmrouter/strategies.py
  src/litellm_llmrouter/telemetry_contracts.py
  src/litellm_llmrouter/usage_policies.py
  tests/unit/test_governance.py
  tests/unit/test_metrics_dark_subsystems.py
Due: ruff-format, ruff-check

feat(stats): per-user /me/stats + real global routing stats (stats-api)
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes/admin_ui.py
  tests/unit/conftest.py
  tests/unit/test_routes.py
  tests/unit/test_routing_stats_accumulator.py
Due: ruff-format, ruff-check

feat(metrics): wire OTel->Prometheus bridge so /metrics exposes RouteIQ instruments
  pyproject.toml
  src/litellm_llmrouter/candidate_filter.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/gateway/plugins/content_filter.py
  src/litellm_llmrouter/leader_election.py
  src/litellm_llmrouter/observability.py
  src/litellm_llmrouter/personalized_routing.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes/metrics_endpoint.py
  tests/unit/test_metrics_endpoint.py
  ui/src/App.tsx
  ui/src/api/queries.ts
  ui/src/api/types.ts
  ui/src/components/Sidebar.tsx
  ui/src/pages/Dashboard.tsx
  ui/src/pages/UserStats.tsx
  uv.lock
Due: ruff-format, ruff-check

fix: wire personalized routing.selection metric to live path + remove dead leader branch
  tests/unit/test_leader_election.py
  tests/unit/test_metrics_dark_subsystems.py
Due: ruff-format, ruff-check

fix(guardrails): content_filter records pass + Fable-5 ban catches ':'/'@' separators
  tests/unit/test_candidate_filter.py
  tests/unit/test_content_filter.py
  tests/unit/test_router_decision_callback.py
Due: ruff-format, ruff-check

style(tests): fix 9 pre-existing ruff errors in unit tests (RouteIQ-51ba)
  tests/unit/test_a2a_streaming_passthrough.py
  tests/unit/test_agentic_pipeline.py
  tests/unit/test_cli.py
  tests/unit/test_eval_pipeline.py
  tests/unit/test_governance_guardrail_pipeline.py
  tests/unit/test_router_r1.py
  tests/unit/test_streaming_correctness.py
Due: ruff-format, ruff-check

fix(metrics): metrics_endpoint mypy + wire streaming metric + doc per-worker stats
  docs/operations/observability.md
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes/metrics_endpoint.py
  tests/unit/test_router_decision_callback.py
Due: ruff-format, ruff-check

fix(iam): fail loud on unresolved region at boot-critical callers (RouteIQ-0921)
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/leader_election.py
  src/litellm_llmrouter/migrations.py
  tests/unit/test_database.py
  tests/unit/test_leader_election.py
Due: ruff-format, ruff-check

fix(observability): Fluent-Bit kubernetes Merge_Log was eating the routing log (RouteIQ-7069) + moment-fit flip decision (c299)
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/fluent-bit-config.yaml
  docs/architecture/aws-rearchitecture/20-kumaraswamy-thompson-router.md
  tests/unit/test_fluent_bit_routing_promotion.py
Due: ruff-format, ruff-check, yamllint

Path conditions:
  ruff-format: any of: *.py, but not: ^reference/
  ruff-check: any of: *.py, but not: ^reference/
  yamllint: any of: *.{yaml,yml}, but not: (^reference/|^.github/)
