Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

ruff-format:
  run: ./scripts/lint.sh format {staged_files}
  stage_fixed: true

ruff-check:
  run: ./scripts/lint.sh check {staged_files}
  stage_fixed: true

yamllint:
  run: ./scripts/lint.sh yaml {staged_files}

seeds: sync 2026-06-18
  .seeds/issues.jsonl
Due: none

fix(routing): close the eval->bandit learning loop — quality feedback now keys the posterior the router reads (RouteIQ-e019)
  src/litellm_llmrouter/adapters/mlops.py
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/router_decision_callback.py
  tests/unit/test_kumaraswamy_thompson_eval_feedback.py
Due: ruff-format, ruff-check

seeds: sync 2026-06-18
  .seeds/issues.jsonl
  config/config.mock-tiers.yaml
Due: yamllint

fix(auth): honor the operator master key on the LiteLLM data plane in plugin-mode boot (RouteIQ-d051)
  src/litellm_llmrouter/auth.py
  src/litellm_llmrouter/gateway/app.py
  tests/unit/test_auth.py
  tests/unit/test_gateway_app.py
Due: ruff-format, ruff-check

test(rig): fix mock-tiers config — group name 'auto' + drop invalid model_info.tier
  config/config.mock-tiers.yaml
Due: yamllint

fix(routing): two-tier reasoning detection so a single strong signal pins the expert tier (RouteIQ-a9da)
  src/litellm_llmrouter/centroid_routing.py
  tests/unit/test_centroid_routing.py
Due: ruff-format, ruff-check

fix(observability): record routing stats with OTel off — RouterDecisionCallback must be a CustomLogger (RouteIQ-0a01)
  src/litellm_llmrouter/router_decision_callback.py
  tests/unit/test_router_decision_callback.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: *.py, but not: ^reference/
  ruff-check: any of: *.py, but not: ^reference/
  yamllint: any of: *.{yaml,yml}, but not: (^reference/|^.github/)
