Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

ruff-format:
  run: ./scripts/lint.sh format {staged_files}
  stage_fixed: true

ruff-check:
  run: ./scripts/lint.sh check {staged_files}
  stage_fixed: true

yamllint:
  run: ./scripts/lint.sh yaml {staged_files}

seeds: sync 2026-06-16
  .seeds/issues.jsonl
Due: none

feat(agent): real MCP JSON-RPC/SSE + AgentCore SigV4 + MCPServerDB + A2A invocation (RouteIQ-6ccd/e5a4/635d/a33c)
  src/litellm_llmrouter/a2a_gateway.py
  src/litellm_llmrouter/gateway/plugins/bedrock_agentcore_mcp.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/mcp_jsonrpc_client.py
  src/litellm_llmrouter/routes/a2a.py
  tests/unit/test_a2a_invocation_route.py
  tests/unit/test_bedrock_agentcore_invoke.py
  tests/unit/test_mcp_db_backed_registry.py
  tests/unit/test_mcp_jsonrpc_client.py
Due: ruff-format, ruff-check

seeds: sync 2026-06-17
  .seeds/issues.jsonl
Due: none

feat(routing): tag-based + latency-SLA/usage/least-busy + LinUCB contextual bandit (RouteIQ-6865/904b/6c67)
  deploy/cdk/lib/config_state_construct.py
  deploy/cdk/lib/routeiq_observability_stack.py
  deploy/cdk/tests/conftest.py
  deploy/charts/routeiq-gateway/templates/hpa.yaml
  deploy/charts/routeiq-gateway/values.yaml
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/redis_pool.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/strategies.py
  tests/unit/test_latency_aware_routing.py
  tests/unit/test_linucb_routing.py
  tests/unit/test_tag_routing_strategy.py
Due: ruff-format, ruff-check, yamllint

feat(ha): KEDA autoscaling + Redis cluster + DB reader pool + AppConfig rollback monitor (RouteIQ-9c4c/5d8f/65ed/b056)
  deploy/cdk/tests/unit/test_config_rollback_monitor.py
  deploy/charts/routeiq-gateway/templates/keda-scaledobject.yaml
  deploy/charts/routeiq-gateway/tests/test_render_keda.py
  tests/unit/test_database.py
  tests/unit/test_redis_pool.py
Due: ruff-format, ruff-check, yamllint

feat(routing): Claude-Code cost-routing — auto-group + model-alias rewrite + bandit-learn-by-default (RouteIQ-a416/0dcb/3b4d)
  config/config.claude-code.yaml
  docs/operations/claude-code-routing.md
  src/litellm_llmrouter/adapters/mlops.py
  src/litellm_llmrouter/bedrock_discovery.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/model_alias.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
  tests/unit/test_bedrock_auto_group.py
  tests/unit/test_mlops_feedback_default.py
  tests/unit/test_model_alias.py
Due: ruff-format, ruff-check, yamllint

feat(mlops): champion/challenger promotion + drift detection + shadow mirroring (RouteIQ-2a1c/6dce/4fd1)
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/metrics.py
  src/litellm_llmrouter/mlops/__init__.py
  src/litellm_llmrouter/mlops/drift.py
  src/litellm_llmrouter/strategy_registry.py
  src/litellm_llmrouter/telemetry_contracts.py
  tests/unit/test_mlops_drift.py
  tests/unit/test_mlops_loop_wiring.py
  tests/unit/test_mlops_promotion_shadow.py
Due: ruff-format, ruff-check

feat(observability): X-Ray ID generator/propagator + CloudWatch GenAI ADOT config (RouteIQ-3c0a/ebf8)
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/adot-collector.yaml
  deploy/charts/routeiq-gateway/tests/test_render_adot_collector.py
  deploy/charts/routeiq-gateway/values.yaml
  pyproject.toml
  src/litellm_llmrouter/observability.py
  tests/unit/test_observability_xray.py
  tests/unit/test_settings.py
  uv.lock
Due: ruff-format, ruff-check, yamllint

feat(wiring): correct request-mutation seam + wire built-not-wired mechanisms to live callsites (RouteIQ-60e3/294a/9cd8/b9ee/c417/fc5c/6972)
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugin_callback_bridge.py
  src/litellm_llmrouter/gateway/plugins/bedrock_request_levers.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
  tests/unit/test_bedrock_discovery_wiring.py
  tests/unit/test_bedrock_request_levers.py
  tests/unit/test_database_reader_pool_wiring.py
  tests/unit/test_governance_guardrail_pipeline.py
  tests/unit/test_mlops_hot_path_wiring.py
Due: ruff-format, ruff-check

feat(multinode): vLLM/AIBrix/llm-d serving plans + engine-metrics scraper (RouteIQ-7f7d/ffaa)
  config/config.self-hosted-engine.yaml
  docs/architecture/aws-rearchitecture/53-self-hosted-serving-engines.md
  src/litellm_llmrouter/engine_metrics.py
  src/litellm_llmrouter/settings.py
  tests/unit/conftest.py
  tests/unit/test_engine_metrics.py
Due: ruff-format, ruff-check, yamllint

feat(multi-account): region/data-residency routing (all paths) + Organizations/StackSets + multi-region DR (RouteIQ-60cc/ea99/6fd3)
  deploy/cdk/lib/multi_region_dr_stack.py
  deploy/cdk/lib/organizations_stackset_stack.py
  deploy/cdk/tests/unit/test_multi_region_dr.py
  deploy/cdk/tests/unit/test_organizations_stackset.py
  docs/deployment/multi-account-multi-region.md
  src/litellm_llmrouter/candidate_filter.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/governance_store.py
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/routes/admin_ui.py
  src/litellm_llmrouter/routes/config.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/strategies.py
  src/litellm_llmrouter/strategy_registry.py
  tests/unit/test_region_routing.py
  ui/src/api/queries.ts
  ui/src/api/types.ts
Due: ruff-format, ruff-check

feat(api+stats): first-class API routes + persisted spend + self-service keys (hardened) (RouteIQ-e48a/67fe/3215)
  src/litellm_llmrouter/routes/api_surfaces.py
  tests/unit/test_api_surfaces_bare_path.py
  tests/unit/test_self_service_keys.py
  tests/unit/test_spend_persistence.py
  ui/src/pages/UserStats.tsx
Due: ruff-format, ruff-check

feat(ui+docs): time-series charts, AI-Hub, dashboard embed, live-decision view + docs/cleanup (RouteIQ-c119/06cf/9d2d/0c8e/155a/2791/e6c1)
  docs/index.md
  mkdocs.yml
  requirements.txt
  ui/src/App.tsx
  ui/src/api/queries.ts
  ui/src/api/types.ts
  ui/src/components/Sidebar.tsx
  ui/src/config.ts
  ui/src/pages/Observability.tsx
Due: yamllint

feat(mlops): upstream-router delegation + SageMaker registry + offline-eval harness + failure-capture (RouteIQ-8539/93e9/8d24/d365)
  config/golden_eval/routing_golden_v1.json
  src/litellm_llmrouter/bedrock_discovery.py
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/gateway/plugins/bedrock_agentcore_mcp.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/mlops/__init__.py
  src/litellm_llmrouter/mlops/offline_eval.py
  src/litellm_llmrouter/mlops/sagemaker_registry.py
  src/litellm_llmrouter/mlops/upstream_router.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_mlops_failure_capture.py
  tests/unit/test_mlops_offline_eval.py
  tests/unit/test_mlops_sagemaker_registry.py
  tests/unit/test_mlops_upstream_router.py
Due: ruff-format, ruff-check

feat(bedrock/agent): wire discovery into live startup model_list + mantle endpoints + AgentCore Memory/MCP-access/drift mechanisms (RouteIQ-c44e/7105 + 60e7/2fa1/9a42 mechanisms)
  tests/unit/test_bedrock_agentcore_memory_identity.py
  tests/unit/test_bedrock_marketplace_and_drift.py
  tests/unit/test_mcp_access_group_enforcement.py
Due: ruff-format, ruff-check

feat(routing/harness): route+harness tail — guard test, harness verdicts, Router-R1 gating, model_group, CW enrich, calibration (RouteIQ-6509/f086/44a1/81bc/3b18/2bbe/b0df/db1d/b9fe + 1c9d mechanism)
  tests/stress_harness/test_centroid_calibration.py
  tests/unit/test_bedrock_model_group.py
  tests/unit/test_install_plugin_routing_strategy.py
  tools/centroid_calibration.py
Due: ruff-format, ruff-check

fix(ui): commit the new SPA modules + docs the Wave-Q commit referenced but did not stage
  docs/operations/bedrock-fallbacks.md
  docs/operations/dashboard-embedding.md
  ui/src/api/timeseries.ts
  ui/src/components/Card.tsx
  ui/src/components/Charts.tsx
  ui/src/pages/AiHub.tsx
Due: none

feat(routing): intelligence-first capability-tier routing — route by capability, not price (RouteIQ-8e37)
  src/litellm_llmrouter/candidate_filter.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/strategies.py
  tests/unit/test_capability_tier_routing.py
Due: ruff-format, ruff-check

feat(bedrock): one-switch full-coverage mode + wire logical-group synthesizer (RouteIQ-77e8, RouteIQ-1c9d)
  config/config.claude-code-full-coverage.yaml
  docs/operations/claude-code-routing.md
  src/litellm_llmrouter/bedrock_discovery.py
  src/litellm_llmrouter/startup.py
  tests/unit/test_bedrock_full_coverage.py
Due: ruff-format, ruff-check, yamllint

feat: wire the built-not-wired tail — affinity, governance backends, SageMaker retraining (RouteIQ-bdd0/3316/a865/a433/c6e9/3d33/8a24)
  docs/mlops-training.md
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugin_callback_bridge.py
  src/litellm_llmrouter/governance_store.py
  src/litellm_llmrouter/mlops/__init__.py
  src/litellm_llmrouter/mlops/retraining.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
  tests/unit/test_affinity_request_wiring.py
  tests/unit/test_cluster_w2_wiring.py
  tests/unit/test_mlops_retraining.py
Due: ruff-format, ruff-check

feat: clear the buildable tail — wire affinity-init/MLOps/SCIM/leader-drain/S3, dynamo spend, secrets phase-2, routing fixes (13 seeds)
  src/litellm_llmrouter/bedrock_discovery.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/governance_store_dynamodb.py
  src/litellm_llmrouter/log_archival.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/mcp_jsonrpc_client.py
  src/litellm_llmrouter/metrics.py
  src/litellm_llmrouter/mlops/retraining.py
  src/litellm_llmrouter/routes/mlops.py
  src/litellm_llmrouter/secrets_vault.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_bedrock_full_coverage.py
  tests/unit/test_bedrock_model_group.py
  tests/unit/test_capability_tier_routing.py
  tests/unit/test_governance_store_dynamodb.py
  tests/unit/test_resilience_metrics.py
  tests/unit/test_secrets_vault_provider_keys.py
  tests/unit/test_tc_wire_callsites.py
Due: ruff-format, ruff-check

seeds: sync 2026-06-18
  .seeds/issues.jsonl
Due: none

fix(security): close fail-open data-residency leak on the ML routing path (RouteIQ-5007)
  src/litellm_llmrouter/custom_routing_strategy.py
  tests/unit/test_custom_routing_strategy.py
Due: ruff-format, ruff-check

test+feat: vault/rotation wiring tests + migrate model HMAC secret through the vault (RouteIQ-ea5b, fa1b, 5410)
  src/litellm_llmrouter/model_artifacts.py
  tests/unit/test_lifespan_key_rotation.py
  tests/unit/test_secrets_vault_mcp_resource_read.py
Due: ruff-format, ruff-check

fix(mcp): add pool= to proxy_resource_read httpx.Timeout (httpx>=0.28 ValueError) (RouteIQ-ef9e)
  src/litellm_llmrouter/mcp_gateway.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: *.py, but not: ^reference/
  ruff-check: any of: *.py, but not: ^reference/
  yamllint: any of: *.{yaml,yml}, but not: (^reference/|^.github/)
