Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

ruff-format:
  run: ./scripts/lint.sh format {staged_files}
  stage_fixed: true

ruff-check:
  run: ./scripts/lint.sh check {staged_files}
  stage_fixed: true

yamllint:
  run: ./scripts/lint.sh yaml {staged_files}

fix: pre-push hook unblock — mypy strict + secret-scan scope
  scripts/detect_secrets.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/telemetry_contracts.py
Due: ruff-format, ruff-check

docs: 4-way comparison — LiteLLM vs LLMRouter vs RouteIQ vs VSR
  docs/architecture/four-way-comparison.md
Due: none

docs: AWS-native re-architecture — deployment-pattern ADRs + Kumaraswamy-Thompson router + pluggable MLOps adapters
  .gitignore
  docs/adr/0026-appconfig-gitops-config-delivery.md
  docs/adr/0027-otel-amp-amg-observability-on-aws.md
  docs/adr/0028-aurora-postgres-serverless-v2-state.md
  docs/adr/0029-elasticache-serverless-valkey-cache.md
  docs/adr/0030-eks-auto-mode-irsa-substrate.md
  docs/adr/README.md
  docs/architecture/aws-rearchitecture/10-aws-native-target-architecture.md
  docs/architecture/aws-rearchitecture/20-kumaraswamy-thompson-router.md
  docs/architecture/aws-rearchitecture/30-migration-roadmap.md
  docs/architecture/aws-rearchitecture/40-pluggable-routing-and-mlops.md
  docs/architecture/aws-rearchitecture/99-review-findings.md
  docs/architecture/aws-rearchitecture/vllmsr-patterns.md
Due: none

docs: handoff — pivot to RouteIQ-on-AWS (drop vllm-sr, build on LiteLLM)
  docs/handoffs/2026-06-14-1211-pivot-to-routeiq-on-aws.md
Due: none

docs: expand the RouteIQ-on-AWS handoff into a self-contained working doc
  docs/handoffs/2026-06-14-1211-pivot-to-routeiq-on-aws.md
Due: none

docs: commit-state + backlog audit — file P0–P4 seeds, migrate beads→seeds
  .gitignore
  .seeds/issues.jsonl
  docs/architecture/aws-rearchitecture/00-state-and-backlog-2026-06-14.md
Due: none

docs: P0 CDK foundation proposal — Pod Identity over IRSA + 7 child seeds
  .mulch/mulch.config.yaml
  .seeds/issues.jsonl
  docs/adr/0030-eks-auto-mode-irsa-substrate.md
  docs/architecture/aws-rearchitecture/00-state-and-backlog-2026-06-14.md
  docs/architecture/aws-rearchitecture/31-p0-cdk-foundation-proposal.md
  docs/architecture/aws-rearchitecture/p0-discovery/child-seeds-spec.json
  docs/architecture/aws-rearchitecture/p0-discovery/discover-chart-seams.md
  docs/architecture/aws-rearchitecture/p0-discovery/discover-ecr-ghcr.md
  docs/architecture/aws-rearchitecture/p0-discovery/discover-eks-cluster.md
  docs/architecture/aws-rearchitecture/p0-discovery/discover-network.md
  docs/architecture/aws-rearchitecture/p0-discovery/discover-scaffold-tests.md
  docs/architecture/aws-rearchitecture/p0-discovery/research-report-irsa-vs-podidentity.md
Due: yamllint

seeds: sync 2026-06-14
  .seeds/issues.jsonl
Due: none

feat: P0 CDK foundation — deploy/cdk/ RouteIqStack (EKS Auto Mode + Pod Identity)
  .gitignore
  deploy/cdk/README.md
  deploy/cdk/app.py
  deploy/cdk/cdk.json
  deploy/cdk/lib/__init__.py
  deploy/cdk/lib/ecr_construct.py
  deploy/cdk/lib/eks_cluster_construct.py
  deploy/cdk/lib/nag_suppressions.py
  deploy/cdk/lib/network_construct.py
  deploy/cdk/lib/routeiq_stack.py
  deploy/cdk/pyproject.toml
  deploy/cdk/requirements.txt
  deploy/cdk/tests/__init__.py
  deploy/cdk/tests/conftest.py
  deploy/cdk/tests/snapshot/__init__.py
  deploy/cdk/tests/snapshot/__snapshots__/dev.json
  deploy/cdk/tests/snapshot/test_template_snapshot.py
  deploy/cdk/tests/unit/__init__.py
  deploy/cdk/tests/unit/test_cdk_nag.py
  deploy/cdk/tests/unit/test_ecr.py
  deploy/cdk/tests/unit/test_eks_cluster.py
  deploy/cdk/tests/unit/test_no_irsa.py
  deploy/cdk/tests/unit/test_routeiq_stack.py
  deploy/charts/routeiq-gateway/templates/grafana-dashboard.yaml
  deploy/charts/routeiq-gateway/templates/service.yaml
  deploy/charts/routeiq-gateway/values.yaml
  lefthook.yml
  pyproject.toml
  scripts/lint.sh
  uv.lock
Due: ruff-format, ruff-check, yamllint

seeds: sync 2026-06-15
  .seeds/issues.jsonl
Due: none

chore: gitignore redundant deploy/cdk/uv.lock
  .gitignore
Due: none

feat: P2 — AppConfig + AMP/AMG/CW + Firehose data-lake (RouteIqObservabilityStack)
  deploy/cdk/app.py
  deploy/cdk/cdk.json
  deploy/cdk/lambda/appconfig-validator/handler.py
  deploy/cdk/lambda/appconfig-validator/requirements.txt
  deploy/cdk/lib/config_state_construct.py
  deploy/cdk/lib/data_lake_construct.py
  deploy/cdk/lib/obs_nag_suppressions.py
  deploy/cdk/lib/observability_construct.py
  deploy/cdk/lib/routeiq_observability_stack.py
  deploy/cdk/tests/unit/test_config_state.py
  deploy/cdk/tests/unit/test_data_lake.py
  deploy/cdk/tests/unit/test_obs_cdk_nag.py
  deploy/cdk/tests/unit/test_observability.py
  deploy/cdk/tests/unit/test_observability_stack.py
  src/litellm_llmrouter/observability.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_routing_decision_log.py
Due: ruff-format, ruff-check

feat: P1 — Aurora Serverless v2 + ElastiCache Serverless (RouteIqStateStack)
  deploy/cdk/app.py
  deploy/cdk/cdk.json
  deploy/cdk/lambda/routeiq-schema-bootstrap/handler.py
  deploy/cdk/lambda/routeiq-schema-bootstrap/requirements.txt
  deploy/cdk/lib/cache_construct.py
  deploy/cdk/lib/replay_store_construct.py
  deploy/cdk/lib/routeiq_state_stack.py
  deploy/cdk/lib/state_nag_suppressions.py
  deploy/cdk/tests/conftest.py
  deploy/cdk/tests/snapshot/__snapshots__/state-dev.json
  deploy/cdk/tests/snapshot/test_state_template_snapshot.py
  deploy/cdk/tests/unit/test_cache.py
  deploy/cdk/tests/unit/test_replay_store.py
  deploy/cdk/tests/unit/test_routeiq_state_stack.py
  deploy/cdk/tests/unit/test_state_cdk_nag.py
  deploy/cdk/tests/unit/test_state_stack.py
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/values.yaml
Due: ruff-format, ruff-check, yamllint

docs: P6 cross-cutting critique of merged P0+P1+P2 (7c57eba) + 7 seeds
  .seeds/issues.jsonl
  docs/architecture/aws-rearchitecture/reviews/p6-critique-2026-06-15-findings.json
  docs/architecture/aws-rearchitecture/reviews/p6-critique-2026-06-15.md
Due: none

docs: clarify P3 — bandit is ONE strategy, MLOps loop is strategy-agnostic
  docs/architecture/aws-rearchitecture/40-pluggable-routing-and-mlops.md
Due: none

feat: P1-fix — bootstrap-SG ingress + IAM-token runtime (RouteIQ-8374, -d3a4)
  CLAUDE.md
  deploy/cdk/lib/routeiq_state_stack.py
  deploy/cdk/lib/state_nag_suppressions.py
  deploy/cdk/tests/snapshot/__snapshots__/state-dev.json
  deploy/cdk/tests/unit/test_state_stack.py
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/values.yaml
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/redis_pool.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_database.py
  tests/unit/test_iam_auth.py
  tests/unit/test_redis_pool.py
Due: ruff-format, ruff-check, yamllint

feat: P3 — Kumaraswamy-Thompson bandit + strategy-agnostic adapter/MLOps framework
  scripts/p3_bandit_backtest/__init__.py
  scripts/p3_bandit_backtest/backtest.py
  scripts/p3_bandit_backtest/corpus_loader.py
  src/litellm_llmrouter/adapters/__init__.py
  src/litellm_llmrouter/adapters/contract.py
  src/litellm_llmrouter/adapters/loader.py
  src/litellm_llmrouter/adapters/mlops.py
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
  tests/property/test_kumaraswamy_thompson_properties.py
  tests/unit/conftest.py
  tests/unit/test_corpus_backtest.py
  tests/unit/test_kumaraswamy_thompson.py
  tests/unit/test_kumaraswamy_thompson_corpus.py
  tests/unit/test_routing_adapters.py
Due: ruff-format, ruff-check

fix: P2-hardening — resolve the 13-seed P2-observability cluster (3 P6-HIGH + followups)
  deploy/cdk/app.py
  deploy/cdk/lib/config_state_construct.py
  deploy/cdk/lib/eks_cluster_construct.py
  deploy/cdk/lib/nag_suppressions.py
  deploy/cdk/lib/naming.py
  deploy/cdk/lib/observability_construct.py
  deploy/cdk/lib/routeiq_observability_stack.py
  deploy/cdk/lib/routeiq_stack.py
  deploy/cdk/tests/conftest.py
  deploy/cdk/tests/snapshot/__snapshots__/dev.json
  deploy/cdk/tests/snapshot/__snapshots__/observability-dev.json
  deploy/cdk/tests/snapshot/test_observability_template_snapshot.py
  deploy/cdk/tests/unit/_obs_helpers.py
  deploy/cdk/tests/unit/test_app_combined_deploy.py
  deploy/cdk/tests/unit/test_combined_grants.py
  deploy/cdk/tests/unit/test_naming_dedup.py
  deploy/cdk/tests/unit/test_observability_stack.py
  deploy/cdk/tests/unit/test_validator_determinism.py
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/templates/fluent-bit-config.yaml
  deploy/charts/routeiq-gateway/values.yaml
  scripts/detect_secrets.py
  src/litellm_llmrouter/config_sync.py
  src/litellm_llmrouter/observability.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_observability.py
Due: ruff-format, ruff-check, yamllint

feat: P4 — Governance/policies->Aurora + OIDC/UI edge + NetworkPolicy hardening
  deploy/cdk/tests/unit/test_p4_edge_no_cdk_alb.py
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/templates/networkpolicy.yaml
  deploy/charts/routeiq-gateway/tests/test_render.py
  deploy/charts/routeiq-gateway/tests/test_render_hardening.py
  deploy/charts/routeiq-gateway/values.yaml
  pyproject.toml
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/governance.py
  src/litellm_llmrouter/governance_store.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes/config.py
  src/litellm_llmrouter/settings.py
  tests/unit/conftest.py
  tests/unit/test_config_governance_durable_wiring.py
  tests/unit/test_governance.py
  tests/unit/test_governance_spend.py
  tests/unit/test_governance_store.py
  tests/unit/test_governance_store_durable.py
Due: ruff-format, ruff-check, yamllint

fix: convergence — wire the built-but-not-wired cluster (P1 + governance correctness)
  src/litellm_llmrouter/auth.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/governance.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_governance_spend.py
  tests/unit/test_observability.py
  tests/unit/test_settings.py
Due: ruff-format, ruff-check

fix: cleanup — registry cold-process deadlock, OIDC test gate, Redis token refresh, scope dedup
  src/litellm_llmrouter/governance.py
  src/litellm_llmrouter/redis_pool.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/strategy_registry.py
  tests/unit/test_governance_spend.py
  tests/unit/test_oidc.py
  tests/unit/test_redis_pool.py
  tests/unit/test_strategy_registry.py
  uv.lock
Due: ruff-format, ruff-check

docs: RouteIQ-on-AWS roadmap COMPLETE — all P0–P4 merged, zero blocking, deferred-set catalogued
  docs/architecture/aws-rearchitecture/90-roadmap-completion-2026-06-15.md
Due: none

docs: architecture map (eagle-eye + 8-section inline-mermaid) + AgentCore + universal-surface designs
  docs/architecture/ARCHITECTURE.md
  docs/architecture/agentcore-integration-and-arch-2026-06-15.md
  docs/architecture/agentcore-registry-integration-2026-06-15.md
  docs/architecture/aws-rearchitecture/50-litellm-universal-surface.md
Due: none

docs: multi-node large-model serving (EFA+Karpenter + Dynamo KVBM remote tiers)
  .seeds/issues.jsonl
  docs/architecture/aws-rearchitecture/51-multinode-large-model-serving.md
Due: none

docs: LiteLLM version-delta (1.82.3->1.89.0) + container-optimization plan
  .seeds/issues.jsonl
  docs/architecture/litellm-version-and-container-2026-06-15.md
Due: none

feat: bump litellm 1.82.3 -> 1.89.0 (8 GHSA fixes incl 3 Critical) + routing-smoke gate
  docker/Dockerfile
  pyproject.toml
  tests/unit/test_routing_smoke_real_router.py
  uv.lock
Due: ruff-format, ruff-check

feat: routing pre-scoring filters (cooldown + gov-ban) + Kumaraswamy moment-fit (default-off)
  src/litellm_llmrouter/candidate_filter.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/strategy_registry.py
  tests/property/test_kumaraswamy_thompson_properties.py
  tests/unit/test_candidate_filter.py
  tests/unit/test_custom_routing_strategy.py
  tests/unit/test_env_validation.py
  tests/unit/test_kumaraswamy_thompson.py
Due: ruff-format, ruff-check

feat: cred-free CDK constructs — C0 capacity pools + C1 cross-account Bedrock + WAF
  deploy/cdk/app.py
  deploy/cdk/cdk.json
  deploy/cdk/lib/bedrock_capacity_member_stack.py
  deploy/cdk/lib/nag_suppressions.py
  deploy/cdk/lib/routeiq_stack.py
  deploy/cdk/lib/waf_construct.py
  deploy/cdk/tests/conftest.py
  deploy/cdk/tests/unit/test_bedrock_capacity.py
  deploy/cdk/tests/unit/test_cdk_nag.py
  deploy/cdk/tests/unit/test_waf.py
  deploy/charts/routeiq-gateway/tests/test_render_capacity_pools.py
  deploy/charts/routeiq-gateway/values.yaml
Due: ruff-format, ruff-check, yamllint

Path conditions:
  ruff-format: any of: *.py, but not: ^reference/
  ruff-check: any of: *.py, but not: ^reference/
  yamllint: any of: *.{yaml,yml}, but not: (^reference/|^.github/)
