Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

ruff-format:
  run: ./scripts/lint.sh format {staged_files}
  stage_fixed: true

ruff-check:
  run: ./scripts/lint.sh check {staged_files}
  stage_fixed: true

yamllint:
  run: ./scripts/lint.sh yaml {staged_files}

chore: mark TG-IMPL-F cloud-native hardening as done
  BEADS.md
  tests/unit/test_streaming_correctness.py
Due: ruff-format, ruff-check

feat: reorganize docker-compose files into examples/docker/ directory
  config/config.openrouter.yaml
  docker-compose.ha-otel.yml
  docker-compose.ha-test.yml
  docker-compose.local-test.yml
  docker-compose.otel.yml
  docker-compose.quota-test.yml
  docker-compose.streaming-perf.yml
  docker-compose.yml
  examples/docker/basic/.env.example
  examples/docker/basic/README.md
  examples/docker/basic/docker-compose.yml
  examples/docker/full-stack/.env.example
  examples/docker/full-stack/README.md
  examples/docker/full-stack/docker-compose.yml
  examples/docker/ha/.env.example
  examples/docker/ha/README.md
  examples/docker/ha/docker-compose.yml
  examples/docker/local-dev/.env.example
  examples/docker/local-dev/README.md
  examples/docker/local-dev/docker-compose.yml
  examples/docker/observability/.env.example
  examples/docker/observability/README.md
  examples/docker/observability/docker-compose.yml
Due: yamllint

docs: update all documentation to reflect current project state
  CONTRIBUTING.md
  README.md
  docs/deployment.md
  docs/index.md
  docs/plugins.md
  docs/project-state.md
  docs/quickstart-docker-compose.md
  docs/routing-strategies.md
  docs/security.md
Due: none

docs: create examples README with deployment scenarios
  examples/README.md
Due: none

chore: initialize overstory and ecosystem tools
  .gitattributes
  .mulch/README.md
  .mulch/mulch.config.yaml
  .overstory/.gitignore
  .overstory/README.md
  .overstory/agent-defs/builder.md
  .overstory/agent-defs/coordinator.md
  .overstory/agent-defs/lead.md
  .overstory/agent-defs/merger.md
  .overstory/agent-defs/monitor.md
  .overstory/agent-defs/orchestrator.md
  .overstory/agent-defs/reviewer.md
  .overstory/agent-defs/scout.md
  .overstory/agent-manifest.json
  .overstory/config.yaml
  .overstory/hooks.json
  .seeds/.gitignore
  .seeds/config.yaml
  .seeds/issues.jsonl
  .seeds/templates.jsonl
  CLAUDE.md
Due: yamllint

Save local config changes before cleanup
  .overstory/config.yaml
  .overstory/groups.json
  .overstory/hooks.json
  .seeds/issues.jsonl
  config/config.openrouter.yaml
  examples/docker/basic/docker-compose.yml
Due: yamllint

feat: rearchitecture phase 0 — delete redundant MCP, security hardening, connection pooling, OIDC scaffold
  docker/Dockerfile
  docker/Dockerfile.slim
  examples/docker/slim/.env.example
  examples/docker/slim/config.yaml
  examples/docker/slim/docker-compose.yml
  plans/v1.0-rearchitecture-plan.md
  pyproject.toml
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/audit.py
  src/litellm_llmrouter/auth.py
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/env_validation.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/leader_election.py
  src/litellm_llmrouter/management_middleware.py
  src/litellm_llmrouter/mcp_jsonrpc.py
  src/litellm_llmrouter/mcp_parity.py
  src/litellm_llmrouter/mcp_sse_transport.py
  src/litellm_llmrouter/model_artifacts.py
  src/litellm_llmrouter/oidc.py
  src/litellm_llmrouter/policy_engine.py
  src/litellm_llmrouter/rbac.py
  src/litellm_llmrouter/redis_pool.py
  src/litellm_llmrouter/routes/__init__.py
  src/litellm_llmrouter/routes/health.py
  src/litellm_llmrouter/routing_strategy_patch.py
  src/litellm_llmrouter/startup.py
  tests/test_mcp_parity.py
  tests/unit/conftest.py
  tests/unit/test_mcp_compliance.py
  tests/unit/test_mcp_jsonrpc.py
  tests/unit/test_mcp_sse_transport.py
  tests/unit/test_routing_strategy_patch.py
  tests/unit/test_startup.py
  uv.lock
Due: ruff-format, ruff-check, yamllint

feat: ADRs, pluggable services, Pydantic settings, service discovery
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/values.yaml
  docs/adr/0001-three-layer-architecture.md
  docs/adr/0002-plugin-routing-strategy.md
  docs/adr/0003-delete-redundant-mcp.md
  docs/adr/0004-asyncpg-connection-pooling.md
  docs/adr/0005-redis-singleton.md
  docs/adr/0006-security-hardening-defaults.md
  docs/adr/0007-dependency-tiering.md
  docs/adr/0008-oidc-identity-integration.md
  docs/adr/0009-multi-tier-docker-images.md
  docs/adr/0010-centroid-zero-config-routing.md
  docs/adr/0011-pluggable-external-services.md
  docs/adr/0012-own-fastapi-app.md
  docs/adr/0013-pydantic-settings.md
  docs/adr/0014-plugin-extraction.md
  docs/adr/0015-k8s-native-leader-election.md
  docs/adr/0016-developer-experience-features.md
  docs/adr/0017-leverage-litellm-upstream.md
  docs/adr/README.md
  examples/docker/batteries-included/.env.example
  examples/docker/batteries-included/config.yaml
  examples/docker/batteries-included/docker-compose.yml
  examples/docker/batteries-included/otel-collector-config.yaml
  examples/docker/plug-in/.env.example
  examples/docker/plug-in/config.yaml
  examples/docker/plug-in/docker-compose.yml
  pyproject.toml
  src/litellm_llmrouter/routes/health.py
  src/litellm_llmrouter/service_discovery.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
  tests/unit/conftest.py
  tests/unit/test_service_discovery.py
  uv.lock
Due: ruff-format, ruff-check, yamllint

feat: own FastAPI app (ADR-0012), OIDC wiring, audit consolidation, AGENTS.md update
  AGENTS.md
  src/litellm_llmrouter/gateway/__init__.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/routes/__init__.py
  src/litellm_llmrouter/routes/a2a.py
  src/litellm_llmrouter/routes/config.py
  src/litellm_llmrouter/routes/mcp.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
Due: ruff-format, ruff-check

feat: inference-only adapters for SVM/MLP/MF/ELO, settings migration
  src/litellm_llmrouter/auth.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/redis_pool.py
  src/litellm_llmrouter/startup.py
  src/litellm_llmrouter/strategies.py
  tests/unit/conftest.py
  tests/unit/test_inference_adapters.py
Due: ruff-format, ruff-check

feat: port NadirClaw context window/cost/fallback, add Makefile
  Makefile
  src/litellm_llmrouter/centroid_routing.py
Due: ruff-format, ruff-check

chore: apply review findings — cleanup stale docs, fix CI, remove dead flags
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/adr/0012-own-fastapi-app.md
  docs/api-reference.md
  docs/architecture/archive/tg2-architecture-evaluation.md
  docs/architecture/archive/tg3-admin-ui-design.md
  docs/architecture/archive/tg3-alternative-patterns.md
  docs/architecture/archive/tg3-cloud-native-design.md
  docs/architecture/archive/tg3-nadirclaw-integration.md
  docs/architecture/archive/tg3-rearchitecture-proposal.md
  docs/configuration.md
  docs/mcp-gateway.md
  plans/archive/TG10_0_Codepath_Mapping.md
  plans/archive/implementation-decomposition.md
  plans/archive/parity-roadmap.md
  src/litellm_llmrouter/routes/admin_ui.py
  src/litellm_llmrouter/settings.py
  tests/integration/test_http_routes.py
  tests/integration/test_mcp_tool_invocation.py
  tests/test_telemetry_contracts.py
  tests/unit/test_security_abuse.py
  tests/unit/test_ssrf_hardening.py
  tests/unit/test_strategies.py
  tests/unit/test_telemetry_contracts.py
Due: ruff-format, ruff-check, yamllint

feat: OIDC/settings tests, own-app default, CLI, K8s leader election, GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/templates/deployment.yaml
  deploy/charts/routeiq-gateway/templates/leader-election-rbac.yaml
  deploy/charts/routeiq-gateway/templates/serviceaccount.yaml
  deploy/charts/routeiq-gateway/values.yaml
  docs/adr/0015-k8s-native-leader-election.md
  pyproject.toml
  src/litellm_llmrouter/cli.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/leader_election.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
  tests/unit/conftest.py
  tests/unit/test_gateway_app.py
  tests/unit/test_oidc.py
  tests/unit/test_settings.py
  uv.lock
Due: ruff-format, ruff-check, yamllint

feat: disaggregated UI architecture (ADR-0018)
  docs/adr/0018-disaggregated-ui.md
  docs/adr/README.md
  examples/docker/disaggregated-ui/config.js
  examples/docker/disaggregated-ui/docker-compose.yml
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/routes/admin_ui.py
  src/litellm_llmrouter/settings.py
  ui/Dockerfile
  ui/index.html
  ui/nginx.conf
  ui/public/config.js
  ui/src/api/client.ts
  ui/src/config.ts
  ui/vite.config.ts
Due: ruff-format, ruff-check, yamllint

fix: critical bugs, repo reorg, ADR updates, OTel GenAI ADR
  .github/workflows/ci.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/adr/0011-pluggable-external-services.md
  docs/adr/0013-pydantic-settings.md
  docs/adr/0016-developer-experience-features.md
  docs/adr/0019-otel-genai-conventions.md
  docs/adr/README.md
  examples/docker/ha/docker-compose.ha-otel.yml
  examples/docker/ha/docker-compose.ha.yml
  examples/docker/observability/docker-compose.otel.yml
  examples/docker/testing/docker-compose.ha-test.yml
  examples/docker/testing/docker-compose.quota-test.yml
  examples/docker/testing/docker-compose.streaming-perf.yml
  scripts/run_ha_gate.py
  scripts/run_load_gate.py
  src/litellm_llmrouter/auth.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/oidc.py
  src/litellm_llmrouter/redis_pool.py
  src/litellm_llmrouter/service_discovery.py
  src/litellm_llmrouter/startup.py
  tests/integration/_otel_compose_helpers.py
  tests/integration/test_ha_leader_failover.py
  tests/integration/test_otel_e2e.py
  tests/integration/test_quota_enforcement.py
  tests/integration/test_streaming_perf_gate.py
  tests/unit/test_centroid_routing.py
  tests/unit/test_oidc.py
Due: ruff-format, ruff-check, yamllint

feat: context optimizer, vision routing, transparency headers, LiteLLM 1.82.3 pin
  docs/research/portkey-governance-analysis.md
  pyproject.toml
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugins/context_optimizer.py
  src/litellm_llmrouter/router_decision_callback.py
  uv.lock
Due: ruff-format, ruff-check

feat: OTel GenAI conventions, governance layer, usage policies, multimodal capabilities
  docs/adr/0019-otel-genai-conventions.md
  docs/adr/0020-governance-layer.md
  docs/adr/README.md
  src/litellm_llmrouter/a2a_tracing.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/governance.py
  src/litellm_llmrouter/mcp_tracing.py
  src/litellm_llmrouter/observability.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes/config.py
  src/litellm_llmrouter/telemetry_contracts.py
  src/litellm_llmrouter/usage_policies.py
  tests/unit/conftest.py
  tests/unit/test_governance.py
  tests/unit/test_usage_policies.py
Due: ruff-format, ruff-check

feat: personalized routing, agentic pipeline, Redis state, guardrail policies
  docs/adr/0021-externalized-state.md
  docs/adr/README.md
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/gateway/plugins/agentic_pipeline.py
  src/litellm_llmrouter/guardrail_policies.py
  src/litellm_llmrouter/personalized_routing.py
  src/litellm_llmrouter/resilience.py
  src/litellm_llmrouter/routes/config.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_centroid_routing.py
  tests/unit/test_guardrail_policies.py
  tests/unit/test_personalized_routing.py
  tests/unit/test_resilience.py
Due: ruff-format, ruff-check

feat: plugin extraction, prompt management, eval pipeline, Helm observability, legacy cleanup
  AGENTS.md
  deploy/charts/routeiq-gateway/templates/grafana-dashboard.yaml
  deploy/charts/routeiq-gateway/templates/prometheusrule.yaml
  deploy/charts/routeiq-gateway/templates/servicemonitor.yaml
  deploy/charts/routeiq-gateway/values.yaml
  docs/adr/0014-plugin-extraction.md
  packages/routeiq-routing/README.md
  packages/routeiq-routing/pyproject.toml
  packages/routeiq-routing/src/routeiq_routing/__init__.py
  packages/routeiq-routing/src/routeiq_routing/centroid.py
  packages/routeiq-routing/src/routeiq_routing/personalized.py
  packages/routeiq-routing/src/routeiq_routing/strategies.py
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/prompt_management.py
  src/litellm_llmrouter/routes/config.py
  src/litellm_llmrouter/routing_strategy_patch.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
  src/litellm_llmrouter/strategies.py
  tests/unit/test_eval_pipeline.py
  tests/unit/test_prompt_management.py
  tests/unit/test_routing_strategy_patch.py
  tests/unit/test_startup.py
  tests/unit/test_strategy_registry.py
Due: ruff-format, ruff-check, yamllint

feat: fix tests, route handler tests, settings batch 2, standalone routing package
  packages/routeiq-routing/pyproject.toml
  packages/routeiq-routing/src/routeiq_routing/__init__.py
  packages/routeiq-routing/src/routeiq_routing/_centroid_standalone.py
  packages/routeiq-routing/tests/__init__.py
  packages/routeiq-routing/tests/test_standalone.py
  src/litellm_llmrouter/gateway/plugin_manager.py
  src/litellm_llmrouter/gateway/plugins/agentic_pipeline.py
  src/litellm_llmrouter/gateway/plugins/cache_plugin.py
  src/litellm_llmrouter/gateway/plugins/content_filter.py
  src/litellm_llmrouter/gateway/plugins/context_optimizer.py
  src/litellm_llmrouter/gateway/plugins/cost_tracker.py
  src/litellm_llmrouter/gateway/plugins/evaluator.py
  src/litellm_llmrouter/gateway/plugins/skills_discovery.py
  src/litellm_llmrouter/leader_election.py
  src/litellm_llmrouter/model_artifacts.py
  src/litellm_llmrouter/prompt_management.py
  src/litellm_llmrouter/router_r1.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_guardrails.py
  tests/unit/test_routes.py
Due: ruff-format, ruff-check

fix: resolve all 33 pre-existing test failures — full green suite
  tests/unit/test_inference_knn_router.py
  tests/unit/test_model_artifacts.py
  tests/unit/test_multi_worker.py
  tests/unit/test_observability.py
  tests/unit/test_quota.py
  tests/unit/test_resilience.py
  tests/unit/test_settings.py
  tests/unit/test_spend_report.py
  tests/unit/test_tg4_1_router_decision_telemetry.py
Due: ruff-format, ruff-check

feat: admin dashboard UI — governance, guardrails, prompts, observability pages
  ui/src/App.tsx
  ui/src/api/queries.ts
  ui/src/api/types.ts
  ui/src/components/Sidebar.tsx
  ui/src/pages/Governance.tsx
  ui/src/pages/Guardrails.tsx
  ui/src/pages/Observability.tsx
  ui/src/pages/Prompts.tsx
Due: none

fix: comprehensive review findings — syntax bugs, security, ADR statuses, docs
  AGENTS.md
  README.md
  docs/adr/README.md
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/gateway/plugins/context_optimizer.py
  src/litellm_llmrouter/gateway/plugins/skills_discovery.py
  src/litellm_llmrouter/governance.py
  src/litellm_llmrouter/guardrail_policies.py
  src/litellm_llmrouter/personalized_routing.py
  src/litellm_llmrouter/policy_engine.py
  src/litellm_llmrouter/quota.py
  src/litellm_llmrouter/strategies.py
  tests/unit/conftest.py
Due: ruff-format, ruff-check

fix: wire governance/guardrail middleware, fix all remaining review findings
  .github/SECURITY.md
  src/litellm_llmrouter/cli.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/eval_pipeline.py
  src/litellm_llmrouter/gateway/plugin_callback_bridge.py
  src/litellm_llmrouter/gateway/plugins/agentic_pipeline.py
  src/litellm_llmrouter/gateway/plugins/context_optimizer.py
  src/litellm_llmrouter/governance.py
  src/litellm_llmrouter/personalized_routing.py
  src/litellm_llmrouter/policy_engine.py
  src/litellm_llmrouter/prompt_management.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/router_r1.py
  src/litellm_llmrouter/telemetry_contracts.py
  src/litellm_llmrouter/usage_policies.py
  tests/unit/test_cli.py
  tests/unit/test_governance_guardrail_pipeline.py
Due: ruff-format, ruff-check

docs: consolidate documentation, add mermaid diagrams, 4 new implementation ADRs
  docs/a2a-gateway.md
  docs/adr/0022-governance-middleware-integration.md
  docs/adr/0023-guardrail-policy-pipeline.md
  docs/adr/0024-context-optimizer.md
  docs/adr/0025-personalized-routing.md
  docs/adr/README.md
  docs/api-reference.md
  docs/architecture/overview.md
  docs/archive/ha-ci-gate.md
  docs/archive/load-soak-gates.md
  docs/archive/project-state.md
  docs/archive/quickstart-docker-compose.md
  docs/archive/streaming-verification.md
  docs/configuration.md
  docs/deployment.md
  docs/features/a2a-gateway.md
  docs/features/context-optimizer.md
  docs/features/mcp-gateway.md
  docs/features/prompt-management.md
  docs/features/routing.md
  docs/features/skills-gateway.md
  docs/governance/overview.md
  docs/governance/usage-policies.md
  docs/mcp-gateway.md
  docs/observability.md
  docs/operations/deployment.md
  docs/operations/helm.md
  docs/operations/observability.md
  docs/operations/security.md
  docs/routing-strategies.md
  docs/security.md
  docs/skills-gateway.md
  mkdocs.yml
Due: yamllint

fix: 5-facet review findings — security hardening, persistence, Helm, DX
  CHANGELOG.md
  deploy/charts/routeiq-gateway/templates/deployment.yaml
  docs/architecture/archive/tg3-cloud-native-design.md
  docs/architecture/archive/tg3-rearchitecture-proposal.md
  docs/contributing.md
  docs/getting-started/quickstart.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/governance.py
  src/litellm_llmrouter/guardrail_policies.py
  src/litellm_llmrouter/policy_engine.py
  src/litellm_llmrouter/prompt_management.py
  src/litellm_llmrouter/routes/config.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/url_security.py
  src/litellm_llmrouter/usage_policies.py
  tests/unit/test_a2a_streaming_passthrough.py
  tests/unit/test_cors.py
  tests/unit/test_settings.py
  tests/unit/test_ssrf_async_dns.py
  tests/unit/test_streaming_correctness.py
  uv.lock
Due: ruff-format, ruff-check, yamllint

release: RouteIQ v1.0.0-rc1 — Cloud-Native AI Gateway
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  docker/Dockerfile
  docker/Dockerfile.local
  docker/Dockerfile.slim
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  packages/routeiq-routing/README.md
  packages/routeiq-routing/pyproject.toml
  packages/routeiq-routing/src/routeiq_routing/__init__.py
  pyproject.toml
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/a2a_gateway.py
  src/litellm_llmrouter/gateway/plugins/bedrock_agentcore_mcp.py
  src/litellm_llmrouter/routes/admin_ui.py
  tests/unit/test_a2a_compliance.py
  tests/unit/test_admin_api.py
  tests/unit/test_bedrock_agentcore_mcp.py
  ui/package-lock.json
  ui/package.json
  uv.lock
Due: ruff-format, ruff-check

fix: CI install oidc extra, Docker RUN shell syntax
  .github/workflows/ci.yml
  docker/Dockerfile
Due: none

fix: address Codex review — P0 except syntax, P1 own-app LiteLLM init, CI oidc extra
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugin_callback_bridge.py
  src/litellm_llmrouter/gateway/plugins/context_optimizer.py
  src/litellm_llmrouter/telemetry_contracts.py
Due: ruff-format, ruff-check

fix: lint errors — noqa E402 for __init__.py, remove unused import, fix unused var
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/gateway/plugin_callback_bridge.py
  src/litellm_llmrouter/personalized_routing.py
Due: ruff-format, ruff-check

fix: move LLM_API_PATHS import to top-level (E402)
  src/litellm_llmrouter/policy_engine.py
Due: ruff-format, ruff-check

fix: ruff format startup.py
  src/litellm_llmrouter/startup.py
Due: ruff-format, ruff-check

fix: update Docker build workflow actions for Node.js 24 + Trivy supply chain fix
  .github/workflows/docker-build.yml
Due: none

chore: migrate UI toolchain from npm to Bun
  docker/Dockerfile
  ui/Dockerfile
  ui/bun.lock
  ui/package-lock.json
Due: none

fix: pre-release review blockers — routing strategy init, Helm versions, UI queries
  CHANGELOG.md
  README.md
  deploy/charts/routeiq-gateway/Chart.yaml
  deploy/charts/routeiq-gateway/values.yaml
  docs/architecture/adrs.md
  src/litellm_llmrouter/gateway/app.py
  tests/unit/conftest.py
  tests/unit/test_resilience.py
  ui/src/api/queries.ts
  ui/tsconfig.tsbuildinfo
Due: ruff-format, ruff-check, yamllint

fix: TypeScript 'unknown' type in query response unwrapping
  ui/src/api/queries.ts
Due: none

docs: add strategic decision docs comparing VSR vs RouteIQ/LiteLLM stack
  docs/architecture/vsr-vs-routeiq-decision-v2.md
  docs/architecture/vsr-vs-routeiq-decision.md
Due: none

docs: v3 decision doc + reality-sync for v1.0.0rc1
  .gitignore
  CLAUDE.md
  docs/architecture/evidence-console-design.md
  docs/architecture/vsr-vs-routeiq-decision-v3.md
  docs/index.md
  docs/product-vision.md
  plans/technical-roadmap.md
Due: none

Path conditions:
  ruff-format: any of: *.py, but not: ^reference/
  ruff-check: any of: *.py, but not: ^reference/
  yamllint: any of: *.{yaml,yml}, but not: (^reference/|^.github/)
