Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

ruff-format:
  run: ./scripts/lint.sh format {staged_files}
  stage_fixed: true

ruff-check:
  run: ./scripts/lint.sh check {staged_files}
  stage_fixed: true

yamllint:
  run: ./scripts/lint.sh yaml {staged_files}

feat(#6): add incremental reload plan computation
  src/litellm_llmrouter/config_sync.py
  tests/unit/test_config_diff.py
Due: ruff-format, ruff-check

fix(#9): add exponential backoff retry for Prisma migrations
  docker/entrypoint.sh
Due: none

feat(#13): configurable OTEL metrics namespace via env vars
  src/litellm_llmrouter/observability.py
  tests/unit/test_observability.py
Due: ruff-format, ruff-check

feat(#12): configurable CORS origins via ROUTEIQ_CORS_ORIGINS
  src/litellm_llmrouter/gateway/app.py
  tests/unit/test_cors.py
Due: ruff-format, ruff-check

fix(#9): use exponential backoff for Prisma migration retry
  docker/entrypoint.sh
Due: none

feat(#7): add /config/status endpoint for sync observability
  src/litellm_llmrouter/config_sync.py
  src/litellm_llmrouter/routes/config.py
  tests/unit/test_config_status.py
Due: ruff-format, ruff-check

feat(#8): per-model circuit breaker health in /_health/ready
  src/litellm_llmrouter/resilience.py
  src/litellm_llmrouter/routes/health.py
  tests/unit/test_model_health.py
Due: ruff-format, ruff-check

test: add strategy compatibility audit for LLMRouter upstream
  tests/unit/test_strategy_compat.py
Due: ruff-format, ruff-check

feat: add strategy comparison endpoint
  src/litellm_llmrouter/routes/config.py
  src/litellm_llmrouter/strategy_registry.py
  tests/unit/test_strategy_compare.py
Due: ruff-format, ruff-check

feat: emit cost-per-token OTel metric for cost-aware routing
  src/litellm_llmrouter/strategies.py
  tests/unit/test_cost_aware_routing.py
Due: ruff-format, ruff-check

docs(#11): Bedrock model discovery reference architecture
  docs/architecture/bedrock-discovery.md
Due: none

feat(#1): Cloudflare agent skills discovery endpoint
  tests/unit/test_agent_discovery.py
Due: ruff-format, ruff-check

docs(#10): CloudFront/ALB recommended settings for streaming
  docs/deployment/cloudfront-alb.md
Due: none

chore: bump version to 0.1.0
  pyproject.toml
Due: none

fix: use sk-prefixed master key in local test compose
  docker-compose.local-test.yml
Due: yamllint

docs: deep architecture review for RouteIQ v0.2.0 planning
  docs/architecture/deep-review-v0.2.0.md
Due: none

feat: RouteIQ v0.2.0 — Universal PluginContext, management enhancement, observability
  config/cloudwatch-dashboard.json
  docs/plugin-development-guide.md
  pyproject.toml
  src/litellm_llmrouter/audit.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugin_adapters.py
  src/litellm_llmrouter/gateway/plugin_manager.py
  src/litellm_llmrouter/gateway/plugin_protocols.py
  src/litellm_llmrouter/gateway/plugins/bedrock_agentcore_mcp.py
  src/litellm_llmrouter/management_classifier.py
  src/litellm_llmrouter/management_middleware.py
  src/litellm_llmrouter/observability.py
  src/litellm_llmrouter/rbac.py
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes/config.py
  tests/unit/test_bedrock_agentcore_mcp.py
  tests/unit/test_management_classifier.py
  tests/unit/test_management_middleware.py
  tests/unit/test_plugin_adapters.py
  tests/unit/test_plugin_protocols.py
  tests/unit/test_spend_report.py
  uv.lock
Due: ruff-format, ruff-check

chore: update submodule refs and add NadirClaw reference
  .gitmodules
Due: none

docs: comprehensive architecture review and rearchitecture proposal (TG1-TG4)
  CRITICAL_ARCHITECTURE_ASSESSMENT.md
  docs/architecture/ROUTEIQ-ARCHITECTURE-REVIEW-2026-02.md
  docs/architecture/tg2-architecture-evaluation.md
  docs/architecture/tg3-admin-ui-design.md
  docs/architecture/tg3-alternative-patterns.md
  docs/architecture/tg3-cloud-native-design.md
  docs/architecture/tg3-nadirclaw-integration.md
  docs/architecture/tg3-rearchitecture-proposal.md
Due: none

chore: initialize beads task tracking for implementation phase
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  AGENTS.md
  BEADS.md
Due: yamllint

feat: TG-IMPL-A P0/P1 critical fixes (7 items)
  plans/implementation-decomposition.md
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/database.py
  src/litellm_llmrouter/env_validation.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/leader_election.py
  src/litellm_llmrouter/mcp_sse_transport.py
  src/litellm_llmrouter/model_artifacts.py
  src/litellm_llmrouter/routing_strategy_patch.py
  src/litellm_llmrouter/semantic_cache.py
  src/litellm_llmrouter/startup.py
  src/litellm_llmrouter/strategies.py
  tests/unit/conftest.py
  tests/unit/test_env_validation.py
Due: ruff-format, ruff-check

chore: remove obsolete GATE reports, stub docs, and stale plans
  CRITICAL_ARCHITECTURE_ASSESSMENT.md
  E2E_API_VALIDATION_REPORT.json
  GATE10_DOCKER_E2E_GAPS_CLOSURE_REPORT.md
  GATE11_DOCKER_E2E_FINAL_REPORT.md
  GATE6_MCP_VALIDATION_REPORT.md
  GATE7_SECURITY_VALIDATION_REPORT.md
  GATE8_OBSERVABILITY_VALIDATION_REPORT.md
  GATE9_DOCKER_E2E_VALIDATION_REPORT.md
  docs/TECHNICAL_ROADMAP.md
  docs/VALIDATION_PLAN.md
  docs/api-parity-analysis.md
  docs/architecture/aws-deployment.md
  docs/architecture/ml-routing-cloud-native.md
  docs/high-availability.md
  docs/hot-reloading.md
  docs/implementation-backlog.md
  docs/litellm-cloud-native-enhancements.md
  docs/moat-mode.md
  docs/observability-training.md
  docs/parity-roadmap.md
  docs/quickstart-ha-compose.md
  docs/quickstart-otel-compose.md
  docs/release-checklist.md
  plans/archive/cloud-native-architectural-roadmap.md
  plans/archive/p1-remove-import-side-effects-plan.md
  plans/archive/resume-checkpoint.md
  plans/archive/tg10-6-e2e-verification-report.md
  plans/archive/tg4-observability-epic.md
  plans/archive/tg5-security-policy-epic.md
  plans/archive/tg6-ci-quality-gates-epic.md
  plans/archive/tg7-cloud-native-deploy-epic.md
  plans/archive/tg8-routing-mlops-epic.md
  plans/archive/tg9-extensibility-epic.md
Due: none

chore: unify package naming and version references
  .env.example
  deploy/charts/routeiq-gateway/Chart.yaml
  docker/Dockerfile
  docker/Dockerfile.local
  docker/entrypoint.local.sh
  docker/entrypoint.sh
  pyproject.toml
  src/litellm_llmrouter/startup.py
Due: ruff-format, ruff-check, yamllint

chore: mark TG-IMPL-G bead RouteIQ-2qz as done
  BEADS.md
Due: none

docs: fix AGENTS.md drift and update project structure
  AGENTS.md
  CLAUDE.md
Due: none

docs: consolidate redundant documentation
  docs/aws-production-guide.md
  docs/deployment/aws.md
  docs/docs-consolidation-plan.md
  docs/plugin-development-guide.md
  docs/plugins.md
  docs/project-state.md
  docs/quickstart-docker-compose.md
  plans/parity-roadmap.md
Due: none

docs: create comprehensive documentation index
  docs/index.md
Due: none

chore: mark TG-IMPL-B documentation cleanup as done
  BEADS.md
Due: none

feat: migrate routing to LiteLLM CustomRoutingStrategyBase plugin API (TG-IMPL-C)
  .env.example
  AGENTS.md
  BEADS.md
  docker/entrypoint.local.sh
  docker/entrypoint.sh
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/env_validation.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/startup.py
  tests/unit/test_custom_routing_strategy.py
  tests/unit/test_env_validation.py
  tests/unit/test_multi_worker.py
Due: ruff-format, ruff-check

feat: add centroid routing strategy (TG-IMPL-D / RouteIQ-9m8)
  .env.example
  AGENTS.md
  BEADS.md
  config/config.yaml
  docs/routing-strategies.md
  scripts/copy_centroids.py
  scripts/generate_centroids.py
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/strategies.py
  tests/unit/conftest.py
  tests/unit/test_centroid_routing.py
  tests/unit/test_custom_routing_strategy.py
Due: ruff-format, ruff-check, yamllint

fix: resolve test issues from TG-IMPL-D centroid routing
  src/litellm_llmrouter/centroid_routing.py
  src/litellm_llmrouter/custom_routing_strategy.py
  src/litellm_llmrouter/strategies.py
  tests/unit/test_centroid_routing.py
  tests/unit/test_custom_routing_strategy.py
  tests/unit/test_strategy_compat.py
Due: ruff-format, ruff-check

feat(ui): scaffold React+Vite+TypeScript admin UI
  ui/.gitignore
  ui/README.md
  ui/eslint.config.js
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/public/vite.svg
  ui/src/App.tsx
  ui/src/api/client.ts
  ui/src/components/Layout.tsx
  ui/src/components/Sidebar.tsx
  ui/src/index.css
  ui/src/main.tsx
  ui/src/pages/Dashboard.tsx
  ui/src/pages/RoutingConfig.tsx
  ui/tsconfig.app.json
  ui/tsconfig.json
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: none

feat(ui): dashboard page with gateway status and routing stats
  ui/src/api/queries.ts
  ui/src/api/types.ts
  ui/src/pages/Dashboard.tsx
Due: none

feat(ui): routing config page with profile and strategy management
  ui/src/api/queries.ts
  ui/src/pages/RoutingConfig.tsx
Due: none

feat: admin API endpoints for UI backend
  src/litellm_llmrouter/routes/__init__.py
  src/litellm_llmrouter/routes/admin_ui.py
  tests/unit/test_admin_api.py
Due: ruff-format, ruff-check

feat: embedded admin UI via FastAPI StaticFiles
  .env.example
  .gitignore
  AGENTS.md
  docker/Dockerfile
  src/litellm_llmrouter/gateway/app.py
Due: ruff-format, ruff-check

chore: ruff format admin UI files, mark TG-IMPL-E as done
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/routes/admin_ui.py
Due: ruff-format, ruff-check

chore: consolidate and document environment variables
  .env.example
  docs/configuration.md
  src/litellm_llmrouter/env_validation.py
  src/litellm_llmrouter/startup.py
Due: ruff-format, ruff-check

feat(helm): update chart for plugin strategy, centroid routing, and admin UI
  deploy/charts/routeiq-gateway/Chart.yaml
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/values.yaml
Due: yamllint

chore: update docker-compose files for plugin strategy and multi-worker
  docker-compose.ha.yml
  docker-compose.local-test.yml
  docker-compose.yml
Due: yamllint

Path conditions:
  ruff-format: any of: *.py, but not: ^reference/
  ruff-check: any of: *.py, but not: ^reference/
  yamllint: any of: *.{yaml,yml}, but not: (^reference/|^.github/)
