Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

lefthook.yml:

# Lefthook - Git hooks manager
# Install: ./scripts/install_lefthook.sh
# Manual run: lefthook run pre-commit
#
# Note: This replaces pre-commit framework. The legacy .pre-commit-config.yaml
# is kept for reference but should not be used for new setups.

# Enable parallel execution for faster hooks
assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    ruff-format:
      glob: "*.py"
      exclude: "^reference/"
      run: ./scripts/lint.sh format {staged_files}
      stage_fixed: true

    ruff-check:
      glob: "*.py"
      exclude: "^reference/"
      run: ./scripts/lint.sh check {staged_files}
      stage_fixed: true

    yamllint:
      glob: "*.{yaml,yml}"
      exclude: "(^reference/|^.github/)"
      run: ./scripts/lint.sh yaml {staged_files}

post-commit:
  commands:
    reminder:
      run: |
        echo "âœ… Commit successful!"
        echo "   Remember to run tests before pushing: pytest tests/"

seeds: sync 2026-06-16
  .seeds/issues.jsonl
Due: none

feat(durability): back guardrail-policy + prompt state with the durable store (4f30 + c2af)
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/governance_store.py
  src/litellm_llmrouter/routes/config.py
  tests/unit/test_config_governance_durable_wiring.py
  tests/unit/test_governance_store_durable.py
Due: ruff-format, ruff-check

feat(guardrails): activate native Bedrock guardrail in the request path (RouteIQ-9f14)
  src/litellm_llmrouter/gateway/plugins/bedrock_guardrails.py
  tests/unit/test_bedrock_guardrails.py
Due: ruff-format, ruff-check

feat(oidc): optional Redis-backed shared store for exchanged-key + identity cache (RouteIQ-0716)
  src/litellm_llmrouter/oidc.py
  tests/unit/test_oidc.py
Due: ruff-format, ruff-check

docs: verify P1 forward-notes (df6e) addressed in shipped state
  docs/architecture/aws-rearchitecture/91-p1-forward-notes-verification-2026-06-15.md
Due: none

feat(cdk): GPU NodePool + native Bedrock Guardrail construct + AppConfig audit (acdc + c0be + 1669)
  deploy/cdk/app.py
  deploy/cdk/cdk.json
  deploy/cdk/lib/config_state_construct.py
  deploy/cdk/lib/eks_cluster_construct.py
  deploy/cdk/lib/native_guardrail_construct.py
  deploy/cdk/lib/routeiq_observability_stack.py
  deploy/cdk/lib/routeiq_stack.py
  deploy/cdk/tests/conftest.py
  deploy/cdk/tests/unit/test_config_audit.py
  deploy/cdk/tests/unit/test_config_state.py
  deploy/cdk/tests/unit/test_gpu_nodepool.py
  deploy/cdk/tests/unit/test_native_guardrail.py
  docs/adr/0026-appconfig-gitops-config-delivery.md
Due: ruff-format, ruff-check

feat(universal-surface): self-hosted engine config + KVBM tier example (91fe + 28be cred-free half)
  config/config.self-hosted-engine.yaml
  deploy/charts/routeiq-gateway/tests/test_render_self_hosted_engine.py
  docs/architecture/aws-rearchitecture/52-self-hosted-engine-kvbm.md
Due: ruff-format, ruff-check, yamllint

feat(cdk): EFA NodePool variant + full GitOps CodePipeline deployer (2f97 + 1669 cred-free)
  deploy/cdk/app.py
  deploy/cdk/cdk.json
  deploy/cdk/lib/config_state_construct.py
  deploy/cdk/lib/eks_cluster_construct.py
  deploy/cdk/lib/gitops_pipeline_construct.py
  deploy/cdk/lib/routeiq_observability_stack.py
  deploy/cdk/lib/routeiq_stack.py
  deploy/cdk/tests/conftest.py
  deploy/cdk/tests/unit/test_efa_nodepool.py
  deploy/cdk/tests/unit/test_gitops_pipeline.py
  docs/adr/0026-appconfig-gitops-config-delivery.md
Due: ruff-format, ruff-check

docs(ops): operator runbook for the live-gated universal-surface + deferred steps
  docs/operations/universal-surface-and-deferred-runbook.md
Due: none

docs(efa): correct gang-scheduling to NVIDIA Grove + KAI (recommended) for Dynamo multinode (RouteIQ-2f97)
  deploy/cdk/lib/eks_cluster_construct.py
  deploy/cdk/tests/unit/test_efa_nodepool.py
  docs/architecture/aws-rearchitecture/51-multinode-large-model-serving.md
  docs/operations/universal-surface-and-deferred-runbook.md
Due: ruff-format, ruff-check

chore(mulch): register container, kumaraswamy-thompson, testing domains
  .mulch/mulch.config.yaml
Due: yamllint

docs: mandate deep-work mega-loop + subagent orchestration over direct work
  AGENTS.md
  CLAUDE.md
Due: none

fix(ha): cross-pod migration barrier via durable marker (RouteIQ-2166)
  src/litellm_llmrouter/migrations.py
  tests/unit/test_migrations.py
Due: ruff-format, ruff-check

feat(mlops): wire eval-pipeline COLLECT arm onto the live decision path (RouteIQ-295a)
  src/litellm_llmrouter/router_decision_callback.py
  tests/unit/test_router_decision_eval_collect.py
Due: ruff-format, ruff-check

feat(ha): export backpressure + circuit-breaker state as Prometheus metrics (RouteIQ-6cd5)
  src/litellm_llmrouter/metrics.py
  src/litellm_llmrouter/resilience.py
  src/litellm_llmrouter/telemetry_contracts.py
  tests/unit/test_resilience_metrics.py
Due: ruff-format, ruff-check

feat(bandit): durable Kumaraswamy-Thompson posteriors with flush-on-drain (RouteIQ-95a8)
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/kumaraswamy_thompson.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_kumaraswamy_thompson.py
  tests/unit/test_settings.py
Due: ruff-format, ruff-check

feat(api): surface Anthropic /v1/messages at the bare path (RouteIQ-0e37)
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/routes/messages.py
  tests/unit/test_messages_bare_path.py
Due: ruff-format, ruff-check

feat(routing): per-model-group fallbacks + context_window_fallbacks config (RouteIQ-767f)
  config/config.bedrock-fallbacks.yaml
  tests/unit/test_bedrock_fallbacks_config.py
Due: ruff-format, ruff-check, yamllint

feat(bedrock): provider-agnostic model discovery with global>geo>regional preference (RouteIQ-6ae6/f86e/9ea5)
  src/litellm_llmrouter/bedrock_discovery.py
  src/litellm_llmrouter/settings.py
  tests/unit/test_bedrock_discovery.py
  tests/unit/test_settings.py
Due: ruff-format, ruff-check

test(iam): make IAM-region + /me-stats unit tests hermetic (RouteIQ-22bc)
  tests/unit/test_database.py
  tests/unit/test_redis_pool.py
  tests/unit/test_routes.py
Due: ruff-format, ruff-check

feat(harness): generalized RouteIQ router stress-test + routing-validation harness (RouteIQ-b245/4f19/833c/efa4)
  tests/stress_harness/__init__.py
  tests/stress_harness/conftest.py
  tests/stress_harness/test_analysis.py
  tests/stress_harness/test_cli.py
  tests/stress_harness/test_client.py
  tests/stress_harness/test_compare.py
  tests/stress_harness/test_cwlogs.py
  tests/stress_harness/test_stats_client.py
  tests/stress_harness/test_verdicts.py
  tests/stress_harness/test_workload.py
  tools/stress_harness/README.md
  tools/stress_harness/__init__.py
  tools/stress_harness/__main__.py
  tools/stress_harness/analysis.py
  tools/stress_harness/cli.py
  tools/stress_harness/client.py
  tools/stress_harness/compare.py
  tools/stress_harness/cwlogs.py
  tools/stress_harness/models.py
  tools/stress_harness/report.py
  tools/stress_harness/stats_client.py
  tools/stress_harness/verdicts.py
  tools/stress_harness/workload.py
Due: ruff-format, ruff-check

feat(routing): cost-aware cascade + semantic intent router strategies (RouteIQ-90d0/7936)
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/values.yaml
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/strategies.py
  tests/unit/test_cost_cascade_routing.py
  tests/unit/test_semantic_intent_routing.py
Due: ruff-format, ruff-check, yamllint

feat(observability): ship ADOT collector + default OTLP exporters in Helm (RouteIQ-85e3)
  deploy/charts/routeiq-gateway/templates/adot-collector.yaml
  deploy/charts/routeiq-gateway/templates/networkpolicy.yaml
  deploy/charts/routeiq-gateway/tests/test_render.py
  deploy/charts/routeiq-gateway/tests/test_render_adot_collector.py
  deploy/charts/routeiq-gateway/tests/test_render_hardening.py
Due: ruff-format, ruff-check, yamllint

fix(p6): 7 surgical fixes from prior review rounds (be1d/d07f/dbbc/9e21/778e/0be9/f239)
  src/litellm_llmrouter/migrations.py
  src/litellm_llmrouter/resilience.py
  src/litellm_llmrouter/settings.py
  src/litellm_llmrouter/startup.py
  tests/stress_harness/test_report.py
  tests/stress_harness/test_verdicts.py
  tests/unit/test_migrations.py
  tests/unit/test_resilience_metrics.py
  tests/unit/test_settings.py
  tools/stress_harness/report.py
Due: ruff-format, ruff-check

feat(ui): real user portal, model CRUD, live health status, cluster-wide metrics (RouteIQ-f98a/eb2d/c8d5/78fd)
  src/litellm_llmrouter/router_decision_callback.py
  src/litellm_llmrouter/routes/admin_ui.py
  tests/unit/test_admin_model_crud.py
  tests/unit/test_cluster_stats.py
  tests/unit/test_model_overview_health.py
  ui/src/api/auth.ts
  ui/src/api/client.ts
  ui/src/api/queries.ts
  ui/src/api/types.ts
  ui/src/pages/Dashboard.tsx
  ui/src/pages/UserStats.tsx
Due: ruff-format, ruff-check
