Repository baladithyab/RouteIQ: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-check, yamllint

lefthook.yml:

# Lefthook - Git hooks manager
# Install: ./scripts/install_lefthook.sh
# Manual run: lefthook run pre-commit
#
# Note: This replaces pre-commit framework. The legacy .pre-commit-config.yaml
# is kept for reference but should not be used for new setups.

# Enable parallel execution for faster hooks
assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    ruff-format:
      glob: "*.py"
      exclude: "^reference/"
      run: ./scripts/lint.sh format {staged_files}
      stage_fixed: true

    ruff-check:
      glob: "*.py"
      exclude: "^reference/"
      run: ./scripts/lint.sh check {staged_files}
      stage_fixed: true

    yamllint:
      glob: "*.{yaml,yml}"
      exclude: "(^reference/|^.github/)"
      run: ./scripts/lint.sh yaml {staged_files}

post-commit:
  commands:
    reminder:
      run: |
        echo "âœ… Commit successful!"
        echo "   Remember to run tests before pushing: pytest tests/"

ci: migrate to uv for faster Python + fix docker-build manifest issue
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

ci: add disk space cleanup to push/tag build job
  .github/workflows/docker-build.yml
Due: none

fix(ci): security-scan pulls image by digest instead of mismatched SHA tag
  .github/workflows/docker-build.yml
Due: none

ci: harden GitHub Actions with SHA pinning, minimal permissions, and security scanning
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-build.yml
Due: none

security: add runtime security hardening with SSRF guardrails and auth gating
  src/litellm_llmrouter/a2a_gateway.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/routes.py
  src/litellm_llmrouter/startup.py
  src/litellm_llmrouter/strategies.py
  src/litellm_llmrouter/url_security.py
Due: ruff-format, ruff-check

chore: cloud-native hardening and infrastructure improvements
  .env.example
  config/otel-collector-config.yaml
  docker-compose.ha.yml
  docker-compose.local-test.yml
  docker-compose.yml
  docker/Dockerfile
  pyproject.toml
Due: yamllint

docs: update documentation with security guides, deployment patterns, and backlog
  README.md
  docs/a2a-gateway.md
  docs/api-reference.md
  docs/architecture/aws-deployment.md
  docs/architecture/ml-routing-cloud-native.md
  docs/architecture/overview.md
  docs/configuration.md
  docs/deployment.md
  docs/high-availability.md
  docs/implementation-backlog.md
  docs/index.md
  docs/mcp-gateway.md
  docs/security.md
  docs/skills-gateway.md
  docs/vector-stores.md
Due: none

feat(concurrency): harden A2A/MCP gateway concurrency primitives
  src/litellm_llmrouter/a2a_gateway.py
  tests/unit/test_gateway_concurrency.py
Due: ruff-format, ruff-check

feat(mcp): add feature-flagged tool invocation endpoint
  src/litellm_llmrouter/mcp_gateway.py
  tests/test_mcp_tool_invocation.py
Due: ruff-format, ruff-check

build: reproducible builds with uv lockfile + CI verification
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  docker/Dockerfile
  docker/Dockerfile.local
  pyproject.toml
  uv.lock
Due: none

refactor(arch): composition root + plugin manager scaffolding
  src/litellm_llmrouter/gateway/__init__.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugin_manager.py
  src/litellm_llmrouter/startup.py
  tests/unit/test_gateway_app.py
  tests/unit/test_plugin_manager.py
Due: ruff-format, ruff-check

feat(deploy): add Helm chart for Kubernetes deployment
  deploy/charts/routeiq-gateway/Chart.yaml
  deploy/charts/routeiq-gateway/README.md
  deploy/charts/routeiq-gateway/templates/NOTES.txt
  deploy/charts/routeiq-gateway/templates/_helpers.tpl
  deploy/charts/routeiq-gateway/templates/configmap.yaml
  deploy/charts/routeiq-gateway/templates/deployment.yaml
  deploy/charts/routeiq-gateway/templates/hpa.yaml
  deploy/charts/routeiq-gateway/templates/ingress.yaml
  deploy/charts/routeiq-gateway/templates/networkpolicy.yaml
  deploy/charts/routeiq-gateway/templates/pdb.yaml
  deploy/charts/routeiq-gateway/templates/secret.yaml
  deploy/charts/routeiq-gateway/templates/service.yaml
  deploy/charts/routeiq-gateway/templates/serviceaccount.yaml
  deploy/charts/routeiq-gateway/values.yaml
Due: yamllint

feat(mcp): upstream-compatible parity layer endpoints
  src/litellm_llmrouter/mcp_parity.py
  tests/test_mcp_parity.py
Due: ruff-format, ruff-check

feat(routing): strategy registry + A/B routing pipeline
  src/litellm_llmrouter/__init__.py
  src/litellm_llmrouter/routes.py
  src/litellm_llmrouter/routing_strategy_patch.py
  src/litellm_llmrouter/strategies.py
  src/litellm_llmrouter/strategy_registry.py
  tests/unit/test_inference_knn_router.py
  tests/unit/test_routing_strategy_patch.py
  tests/unit/test_strategy_registry.py
Due: ruff-format, ruff-check

chore: ruff lint/format cleanup
  src/litellm_llmrouter/a2a_gateway.py
  src/litellm_llmrouter/config_sync.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugin_manager.py
  src/litellm_llmrouter/leader_election.py
  src/litellm_llmrouter/mcp_gateway.py
  src/litellm_llmrouter/mcp_parity.py
  src/litellm_llmrouter/model_artifacts.py
  src/litellm_llmrouter/routes.py
  src/litellm_llmrouter/routing_strategy_patch.py
  src/litellm_llmrouter/strategies.py
  src/litellm_llmrouter/strategy_registry.py
  src/litellm_llmrouter/telemetry_contracts.py
  src/litellm_llmrouter/url_security.py
  tests/test_http_routes.py
  tests/test_mcp_parity.py
  tests/test_mcp_tool_invocation.py
  tests/test_ssrf_hardening.py
  tests/test_strategies.py
  tests/unit/test_gateway_app.py
  tests/unit/test_gateway_concurrency.py
  tests/unit/test_leader_election.py
  tests/unit/test_model_artifacts.py
  tests/unit/test_observability.py
  tests/unit/test_plugin_manager.py
  tests/unit/test_routing_strategy_patch.py
  tests/unit/test_strategy_registry.py
  tests/unit/test_telemetry_contracts.py
Due: ruff-format, ruff-check

chore: ignore ruff scratch outputs
  .gitignore
Due: none

feat(security): deny-by-default outbound egress
  src/litellm_llmrouter/url_security.py
  tests/test_ssrf_hardening.py
Due: ruff-format, ruff-check

fix(concurrency): harden gateway singletons and registries
  tests/unit/test_gateway_concurrency.py
Due: ruff-format, ruff-check

feat(mcp): explicit tool invocation behavior
  src/litellm_llmrouter/mcp_tracing.py
Due: ruff-format, ruff-check

feat(plugins): capability-based plugin lifecycle
  docs/plugins.md
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/gateway/plugin_manager.py
  tests/unit/test_plugin_manager.py
Due: ruff-format, ruff-check

feat(parity): upstream-compatible MCP routes
  scripts/validate_parity.py
  src/litellm_llmrouter/mcp_parity.py
  src/litellm_llmrouter/routes.py
  tests/test_mcp_parity.py
Due: ruff-format, ruff-check

feat(skills): well-known skills discovery endpoints
  docs/skills-gateway.md
  src/litellm_llmrouter/gateway/plugins/__init__.py
  src/litellm_llmrouter/gateway/plugins/skills_discovery.py
  tests/unit/test_skills_discovery.py
Due: ruff-format, ruff-check

feat(routing): safe model activation and rollback
  src/litellm_llmrouter/model_artifacts.py
  src/litellm_llmrouter/strategies.py
  tests/unit/test_model_artifacts.py
Due: ruff-format, ruff-check

docs: production readiness docs refresh
  README.md
  docs/parity-roadmap.md
  docs/quickstart-docker-compose.md
  docs/quickstart-ha-compose.md
  docs/quickstart-otel-compose.md
Due: none

fix: final release validation
  src/litellm_llmrouter/telemetry_contracts.py
  tests/property/test_mlops_training_properties.py
  tests/test_mcp_parity.py
Due: ruff-format, ruff-check

docs: update release checklist
  docs/release-checklist.md
Due: none

docs: post-v1 roadmap and plugin extension guidance
  docs/plugins.md
  plans/cloud-native-architectural-roadmap.md
Due: none

fix(ci): provide dummy LITELLM_MASTER_KEY for docker-compose validation
  .github/workflows/ci.yml
Due: none

fix(ci): add POSTGRES_PASSWORD for HA compose validation
  .github/workflows/ci.yml
Due: none

fix(docker): include callbacks extra in local image
  docker/Dockerfile.local
Due: none

fix(ci): use lowercase image name for Docker registry compliance
  .github/workflows/docker-build.yml
Due: none

test(e2e): add docker e2e api validation suite
  E2E_API_VALIDATION_REPORT.json
  GATE10_DOCKER_E2E_GAPS_CLOSURE_REPORT.md
  GATE11_DOCKER_E2E_FINAL_REPORT.md
  GATE9_DOCKER_E2E_VALIDATION_REPORT.md
  scripts/e2e_api_validation.py
  tests/integration/test_e2e_api_validation.py
Due: ruff-format, ruff-check

docs: add project state page and align MLOps roadmaps
  README.md
  docs/index.md
  docs/mlops-training.md
  docs/project-state.md
  plans/cloud-native-architectural-roadmap.md
  plans/parity-roadmap.md
Due: none

mcp: make validation runnable in local-test
  docker-compose.local-test.yml
  scripts/validate_mcp_gateway_curl.sh
Due: yamllint

docs: clarify MCP surface contract and local validation
  docs/mcp-gateway.md
Due: none

test: add MCP local-stack integration coverage
  tests/integration/test_mcp_local_stack.py
Due: ruff-format, ruff-check

mcp: add native JSON-RPC surface and validator
  scripts/validate_mcp_jsonrpc.py
  src/litellm_llmrouter/gateway/app.py
  src/litellm_llmrouter/mcp_jsonrpc.py
  src/litellm_llmrouter/routes.py
  tests/unit/test_mcp_jsonrpc.py
Due: ruff-format, ruff-check

test: add HA leader failover integration coverage
  docker-compose.ha.yml
  tests/integration/test_ha_leader_failover.py
Due: ruff-format, ruff-check, yamllint

TG10.0: Add codepath mapping and baseline notes report
  TG10_0_Codepath_Mapping.md
Due: none

feat(a2a): implement true raw streaming passthrough with rollback flag
  src/litellm_llmrouter/a2a_gateway.py
Due: ruff-format, ruff-check
